.container {
    margin-right: auto;
    margin-left: auto;
}

.divider {
    background-color: transparent;
    height: 5em;
}

.main {
    height: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: transparent;
}

.main-text {
    background-color: transparent;
    max-height: 60%;
    width: 60%;
    font-size: medium;
    text-: #03543F;
}

.card-container {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: table;
    vertical-align: center;
}
